.lk__input {
  width: 100%;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  padding: 8px 20px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.02em;
  line-height: 20px;

  &:focus {
    outline: none;
    color: #404040;
    border: 1px solid #404040;
  }
}
.lk__input:focus + .lk__label {
  color: #0084D9;
}
.lk__input-wrap {
  position: relative;
  //padding-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.lk__label {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
  display: block;
  margin-bottom: 8px;
}
.lk__elements {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: all .2s;
  overflow: hidden;
}
.lk__elements.show {
  opacity: 1;
  max-height: 200px;
  visibility: visible;
}
.lk__errors {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #F7341F;
  transition: all .1s;
  margin: 5px 0 15px 0;
  position: absolute;

  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.lk__errors.show {
  opacity: 1;
  max-height: 200px;
  visibility: visible;
}
.lk__form-l3 {
  width: 33.33%;
  padding-right: 32px;

  &:last-child {
    padding-right: 0;
  }
}
.lk__underline {
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
.lk__form {
  max-width: 660px;
}
.lk__form-result {
  margin-top: 32px;
}
.lk__text-violet {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #8B3DB1;
  margin-left: 24px;
}
.lk__promised-btn {
  max-width: 336px;
  margin-top: 32px;
}
.lk__form-l5 {
  width: 50%;
  padding-right: 32px;
}
.input_disabled {
  .lk__label {
    color: #BDBDBD;
  }
  .lk__input:focus {
    color: #828282;
    border: 1px solid #E0E0E0;
  }
}
.lk__form-group {
  margin-bottom: 24px;
}
.lk__password-reset, .lk__payment-form {
  .lk__errors {
    top: 32px;
    right: -15px;
    transform: translateX(100%);
  }
}
.input_error {
  .lk__input {
    border: 1px solid rgba(238, 0, 0, 0.49);
  }
  .lk__errors {
    opacity: 1;
    max-height: 200px;
    visibility: visible;
  }
}
.star {
  color: #fb0000;
}
