.lk__table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 -16px;
  font-size: 14px;

  td {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #4F4F4F;
    padding: 16px;
  }
  tr {
    border-bottom: 1px solid #E0E0E0;
  }
  tbody tr:last-child {
    border-bottom: none;
  }
  thead td {
    font-weight: bold;
  }
}
.td-nowrap {
  white-space: nowrap;
}