.lk__menu {
  width: 24%;
  height: 100%;
}
.lk__menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #404040;
  padding: 20px 30px;
  position: relative;
  transition: all .1s;
  cursor: pointer;
  border-bottom: 1px solid #E3E3E3;

  &:hover {
    color: #0084D9;
  }
}
.lk__menu-item_last {
  border-bottom: none;
}
.lk__menu-item.active {
  background: #0084D9;
  color: #fff;

  &::after {
    content: "";
    background: #F1F3F5;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    right: -12px;
    transform: rotate(134deg);
    top: 22px;
    border-radius: 2px;
  }
}
.lk__logout {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  background: #0084D9;
  border-radius: 0 0 8px 8px;
  padding: 26px 30px 18px 30px;
  margin-top: -6px;
  cursor: pointer;

  &::before {
    content: "";
    background: url("/images/icons/logout.svg") no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 20px;
  }
}

.lk__menu-list {
  background: #fff;
  position: relative;
  z-index: 9;
  border-radius: 8px 8px 0 0;
}

.lk__menu-item_first {
  border-radius: 8px 8px 0 0;
}

.lk__open-menu {
  background: url(/images/icons/menu.svg) no-repeat;
  background-size: 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 11px;
}