.btn {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #404040;
  border-radius: 35px;
  transition: all .2s;
  border: none;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 4px 15px rgba(246, 246, 246, 0.45);
  }
}
.btn_white {
  background: #fff;
}
.btn_blue {
  background: #1255BD;
  color: #fff;
  box-shadow: none;

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
  }
}