.phone_icon::before {
  background: url("/images/lending/icons/phone.svg") no-repeat;
  background-size: 100%;
}
.email_icon::before {
  background: url("/images/lending/icons/email.svg") no-repeat;
  background-size: 100%;
}
.map_icon::before {
  background: url("/images/lending/icons/map.svg") no-repeat;
  background-size: 100%;
}