.link {
  font-weight: bold;
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.link_no-weight {
  font-weight: normal;

  &:hover {
    text-decoration: none;
  }
}
.requisites a {
  color: #fff;
  text-decoration: none;
}