.webstyle {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.webstyle__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.45);
  transition: all .1s;

  &:hover {
    color: #fff;
  }
}
.webstyle__img {
  margin-left: 20px;
}