@media (max-width: 768px) {
    .login-bg {
        width: 100%;
    }
    .login-header {
        margin-top: 20px;
    }
    .login__left {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
    .login__logo {
        margin-bottom: 0;
    }
    .login-form .personal-data {
        margin-top: 15px;
    }
    .login-form .form__group {
        margin-bottom: 30px;
    }
    .login-footer__copyright {
        font-size: 10px;
        line-height: 29px;
    }
    .login-footer {
        padding-bottom: 20px;
    }
    .login__btn {
        padding: 12px 22px;
    }
    .login__access {
        font-size: 13px;
        display: inline-block;
    }
    .login__right {
        max-width: 500px;
        width: 100%;
        padding: 0;
        margin: 25px auto 0 auto;
    }
    .login-form {
        max-width: 100%;
        margin: 0;
    }
    .login__logo-img {
        max-width: 50%;
    }
    .login-container {
        margin: 0 15px;
    }
    .login__title-label {
        font-size: 2vh;
        line-height: 130%;
        display: none;
    }
    .login__title {
        font-size: 3.1vh;
        display: none;
    }
    .login-form .label {
        font-size: 13px;
    }
    .lk__header-logo-img {
        max-width: 150px;
    }
    .lk__header-logo {
        display: flex;
        align-items: center;
    }
    .lk .container {
        margin: 0 15px;
    }
}
@media (max-width: 650px) {
    .lk-hide {
        display: none;
    }
    .lk__mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 99;
        height: 100%;
        padding: 15px 30px 15px 15px;
        box-shadow: 4px 4px 20px 10px #0000000f;
        transition: all .2s;

        transform: translateX(-100%);
    }
    .lk__mobile-menu.show {
        transform: translateX(0);
    }
    .lk__mobile-logo {
        display: inline-block;
        margin-bottom: 20px;
    }
    .lk__mobile-logo-img {
        max-width: 150px;
    }
    .lk__mobile-menu-item {
        font-size: 15px;
        font-weight: 500;
        padding: 15px 0;
    }
    .lk__mobile-logout {
        margin: 10px -30px 0 -15px;
        padding: 15px;
        border-top: 1px solid #dcdcdc;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.06em;
        font-weight: 600;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background: url("/images/icons/logout-black.svg") no-repeat;
            background-size: 100%;
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-right: 15px;
        }
    }
    .lk__close {
        font-size: 50px;
        height: 40px;
        line-height: 38px;
        width: 40px;
        text-align: center;
        position: relative;
        top: -5px;
        margin-right: 15px;
    }
    .lk__logout, .lk__menu-list {
        display: none;
    }
    .lk__user {
        margin-top: 0;
        display: block;
        padding: 25px 15px 15px 15px;
    }
    .lk__user-item {
        width: auto;
        display: inline-flex;
        margin-right: 30px;
        margin-bottom: 5px;
    }
}

@media (min-width: 650px) {
    .lk__open-menu, .lk__mobile-menu {
        display: none;
    }

}
@media (max-width: 556px) {
    .lk__form-l3 {
        width: 100%;
        padding-right: 0;
    }
    .lk__form-l3:last-child {
        padding-right: 0;
        padding-left: 0;
    }
    .lk__contacts-item {
        display: none;
    }
    .lk__header-logo {
        margin-left: auto;
    }
    .lk__mobile-contacts {
        margin: 20px 0;
    }
    .lk__contacts-label {
        font-size: 13px;
    }
    .lk__contacts-link {
        font-size: 15px;
    }
}

@media (max-width: 419px) {
    .button-section__text::before {
        top: 15px;
    }
    .footer__cabinet-text {
        display: none;
    }
}
@media (max-width: 389px) {
    .button-section__text::before {
        top: 20px;
    }
    .lk__header-logo {
        margin-left: 0;
    }
    .lk__header-logo-img {
        max-width: 130px;
    }
    .lk__open-menu {
        width: 20px;
        height: 20px;
        margin-top: 14px;
    }
    .lk__user-btn {
        padding: 16px 10px;
    }
}
@media (max-width: 350px) {
    .menu__header_row .footer__link {
        font-size: 11px;
        margin-right: 12px;
    }
    .webstyle__img {
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    .cabinet-mobile {
        display: none;
    }
}
