@media (max-width: 1600px) {
    .lk .container {
        margin: 0 60px;
    }
}

@media (max-width: 1300px) {
    .lk .container {
        margin: 0 30px;
    }
    .lk__sidebar-wrap {
        width: 28%;
    }
    .lk__content {
        width: 72%;
    }
    .lk__offset {
        margin: 30px 0 60px 0 !important;
    }
    .lk__logout {
        margin-right: -30px;
        padding: 34px 54px 34px 24px;
    }
    .mobile_hide {
        display: none;
    }
}
@media (min-width: 1300px) {
    .mobile_show {
        display: none;
    }
}

@media (max-width: 1202px) {
    .lk__tab {
        margin: 0 15px;

        &::after {
            right: -15px;
        }
    }
    .lk__h3 {
        font-size: 18px;
    }
    .lk__info-item {
        display: block;
    }
}

@media (max-width: 1300px) {
    .login-form {
        max-width: 416px;
        margin: 0 0 0 auto;
    }
    .login__logo-img {
        max-width: 70%;
    }
    .login__logo {
        margin-bottom: 30px;
    }
    .login__left {
        padding-right: 40px;
    }
}
@media (max-width: 1140px) {
    .lk__header-btn {
        display: block;
        margin-left: 30px;
    }
    .lk__username::before {
        width: 35px;
        height: 35px;
        top: 4px;
    }
    .lk__username {
        font-size: 13px;
        padding-left: 50px;
    }
    .lk__surname {
        font-size: 16px;
    }
    .lk__menu {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    .lk__info-name {
        width: 100%;
    }
    .lk__menu-list {
        display: flex;
        width: 80%;
    }
    .lk__user {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 30px 20px 15px 20px;
        margin-top: 20px;
    }
    .lk__white {
        padding: 20px;
    }
    .lk__user-item {
        width: 33%;
        display: flex;
        margin-bottom: 10px;
        align-items: center;

        &:last-child {
            display: none;
        }
    }
    .lk__user-label {
        margin-bottom: 0;
        margin-right: 8px;
    }
    .lk__h2 {
        font-size: 20px;
    }
    .lk__h3 {
        font-size: 18px;
    }
    .lk__menu-item {
        text-align: center;
    }

}

@media (max-width: 1000px) {
    .login__title {
        font-size: 20px;
    }
    .lk__contacts-link {
        font-size: 16px;
    }
    .login__right {
        padding-left: 40px;
    }
    .login-container {
        margin: 0 50px;
    }
    .lk__sidebar {
        width: 100%;
        padding: 0;
        position: relative;
        margin-bottom: 20px;
    }
    .lk__username {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .lk__content {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
    .lk__info {
        display: flex;
        justify-content: space-between;
    }
    .lk__logout {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: 0 30px 0 15px;
        align-items: center;
        display: flex;
        margin: 0;
    }
    .lk__offset {
        margin: 20px 0 !important;
    }
    .lk__header {
        padding: 12px 0;
    }
    .lk__contacts {
        padding-right: 90px;
    }
    .lk__contacts-item {
        margin-right: 20px;
    }
    .lk__sidebar-wrap {
        width: 100%;
        background: #fff;
        border-radius: 8px;
        padding: 24px;
        position: relative;
    }
    .lk__sidebar-btn {
        width: 50% !important;
        margin: 0px -10px;
        padding: 13px 30px !important;
        border: 1px solid #ebebeb;
    }
    .lk__payment-btn {
        width: auto;
        padding: 10px 30px;
    }
    .lk__sidebar-btn-sber {
        position: absolute;
        top: 18px;
        right: 20px;
        z-index: 99;
    }
    .lk__tabs-wrap {
        margin-bottom: 20px;
    }
    .lk__sidebar-balance {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }
    .lk__sidebar-footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 10px;
    }
}
@media (min-width: 1140px) {
    .lk__header-btn {
        display: none;
    }
}

@media (max-width: 900px) {
    .lk__user-item {
        width: 50%;
    }
    .lk__menu-item {
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
    }
    .lk .container {
        margin: 0 30px;
    }
    .lk__contacts-label {
        font-size: 12px;
    }
    .lk__contacts-link {
        font-size: 12px;
    }
    .lk__contacts-item::before {
        display: none;
    }
}

@media (max-height: 740px) {
    .login {
        height: auto;
        margin-top: 60px;
    }
    .login__logo-img {
        max-width: 60%;
    }
    .login__logo {
        margin-bottom: 20px;
    }
    .login__title {
        font-size: 20px;
    }
    .login__title-label {
        font-size: 14px;
    }
    .login-header {
        margin-top: 30px;
    }
    .login-footer {
        padding-bottom: 20px;
    }
    .login-bg {
        width: 40%;
    }
}
@media (max-height: 600px) {
    .login-bg {
        width: 40%;
    }
    .login__left {
        width: 38%;
    }
    .login-form .label {
        font-size: 2.6vh;
        line-height: 130%;
    }
    .login-form .personal-data {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .login-form .form__group {
        margin-bottom: 30px;
    }
    .login__btn {
        padding: 10px 22px;
        font-size: 13px;
    }
    .login {
        margin-top: 30px;
    }
}
