.button-section {
  display: flex;
  align-items: center;
  margin-top: 60px;
  position: absolute;
  bottom: 15px;
}
.button-section__text {
  font-weight: 600;
  display: inline-block;
  margin-left: 24px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding-left: 48px;

  &::before {
    content: "";
    background: url("/images/lending/icons/right-arrow.svg") no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }
}
.button-section__btn {
  display: inline-block;
}